<h1>{{title}}</h1>
<div>
    {{#each photos}}
    <li class="userid">{{photos.userId}}</li>
    <li class="author">{{author}}</li>
    <li class="caption">{{caption}}</li>
    <li class="link">
        <img src="{{link}}" alt="">
    </li>
    <li class="description">{{description}}</li>
    {{/each}}
</div>