<div id='usersPanel' class='container  display'>
  <h3>{{pageTitle}}</h3>
  <p class=' blue'>{{ recordsFound }} users found</p>
  {{#if msgSuccess }}
  <p class='success'>{{msgSuccess}}</p>
  {{/if }}

  {{#if hasUsers }}
  <table id='tableUsers' class='container table table-sm table-striped table-hover'>
    <thead>
      <tr class=' center '>
        <th>Last Name</th>
        <th>First Name</th>
        <th>UserName</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr data-href="/users/{{this.attributes.id}}">
        <td>{{this.attributes.nameLast}}</td>
        <td>{{this.attributes.nameFirst}}</td>
        <td>
          {{!-- <a href="/users/{{this.attributes.id}}">{{this.attributes.username}}</a> --}}
          {{this.attributes.username}}
        </td>
        <td>{{this.attributes.email}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else }}
  <p class=' warning'>No users found.</p>
  {{/if }}
  <form action='/users/new' method="GET">
    <div class='controlButtons'>
      <button type='submit'>Add New
        User</button>
    </div>
  </form>
</div>
{{> footer}}