<div class='container  display'>
  <h2>{{pageTitle}}</h2>
  <p class='center blue'>{{ recordsFound }} users found</p>
  {{#if msgSuccess }}
  <p class='success'>{{msgSuccess}}</p>
  {{/if }}

  {{#if hasUsers }}
  <table id='tableUsers' class='container table table-sm table-striped table-hover >
    <thead>
      <tr class=' center '>
        <th>Last Name</th>
        <th>First Name</th>
        <th>UserName</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr >
        <td>{{this.nameLast}}</td>
        <td>{{this.nameFirst}}</td>
        <td>
          <a href="/users/{{this.id}}">{{this.username}}</a>
        </td>
        <td>{{this.email}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else }}
<p class=' warning'>No users found.</p>
    {{/if }}
    <form action='/users/new' method="GET">
      <div class='control button'>
        <button type='submit'>Add New
          User</button>
      </div>
    </form>
</div>
{{> footer}}