<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- <link rel="stylesheet" type="text/scss" href="./../css/styles.scss"> --}}
  <link rel="stylesheet" type="text/css" href="./../../css/compiled/styles.css">
  {{!-- <link rel="stylesheet" type="text/css" href="./../../css/basic.css"> --}}
  <title>{{ mainHeading }}</title>
</head>

{{!-- <body background="./../../images/whitelilly.jpeg"> --}}

<body>

  <div class='content container'>
    {{!-- {{ #if hasBackgroundImage }} background="{{ backgroundImage }}" {{ /if }} --}}
    {{> header}}
    {{#if msgSuccess }}
    <p class='success'>{{msgSuccess}}</p>
    {{/if }}
    {{#if msgFail }}
    <p class='fail'>{{msgFail}}</p>
    {{/if }}
    <h1 class='content display'>{{ mainHeading }}</h1>
    {{!-- <div class="container"> --}}
    {{{ body }}}
    {{!-- </div> --}}
  </div>

  {{> footer }}
</body>

</html>